<h6 
  data-title="auth-service"
  class="main-card__title main-card--justify mdc-typography--headline6"
>
  <%= helpers.tr('Or use the service') %>
</h6>
<div>
  <a 
    href="https://habarlau.herokuapp.com/" 
    class="mdc-button" 
    data-button="auth-service-google" 
    title="Google"
  >
    <span class="mdc-button__ripple"></span>
    <svg class="main-card__service-icon" viewBox="0 0 16 16">
      <path 
        d="
          M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 
          15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 
          4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 
          1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 
          1.599-2.431H8v-3.08h7.545z
        "
      />
    </svg>    
  </a>
</div>
<div class="mdc-dialog mdc-dialog--fullscreen">
  <div class="mdc-dialog__container">
    <div class="auth-service-dialog mdc-dialog__surface">
      <div class="mdc-dialog__header">
        <h2 class="mdc-dialog__title">
          <%= helpers.tr('Auth service') %> 
        </h2>
        <button class="mdc-icon-button material-icons mdc-dialog__close"
                data-mdc-dialog-action="close">
          close
        </button>
      </div>
      <iframe class="mdc-dialog__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed scelerisque metus dapibus, maximus massa pulvinar, commodo nunc.
        Quisque vitae luctus lectus, ut tempus ipsum. Sed suscipit gravida scelerisque.
        Aenean vulputate elementum est, quis consectetur orci consectetur ac.
        Quisque accumsan vel nisi id dapibus. Suspendisse nec urna eu massa ornare rutrum.
        Vivamus at nisi sit amet nulla pretium volutpat sit amet in justo. Donec mi metus,
        interdum ac tincidunt at, vehicula vitae nisl. Morbi fermentum dapibus massa,
        nec lobortis massa vestibulum eu.
      </iframe>      
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
