@use '@material/theme/theme-color';

// elevation
$z-index: 1 !default;

// width & height
$width: 16rem !default;
$min-width: 3.5rem !default;
$avatar-size: 2.5rem !default;

// padding & margin
$lang-bar-margin: 0.5rem 0 -0.5rem !default;
$lang-bar-padding: 0 1rem !default;

// opacity
$divider-opacity: 0.12 !default;

// color
$divider-color: theme-color.prop-value(on-surface) !default;
$surface-fill-color: surface !default;
