@use '@material/theme/theme-color';

// elevation
$z-index: 1 !default;

// width & height
$width: 18rem !default;
$min-width: 3.5rem !default;
$avatar-min-size: 2.5rem !default;
$avatar-size: 4rem !default;

// padding & margin
$lang-bar-margin: 0.5rem 0 -0.5rem !default;
$lang-bar-padding: 0 1rem !default;
$account-bar-margin: 0 0 -0.5rem !default;
$account-bar-padding: 1.5rem 0.5rem !default;
$account-actions-max-height: 3rem !default;

// opacity
$divider-opacity: 0.12 !default;

// color
$divider-color: theme-color.prop-value(on-surface) !default;
$surface-fill-color: theme-color.prop-value(surface) !default;
$account-fill-color: theme-color.prop-value(primary) !default;
