@use '@material/elevation/mixins' as elevation-mixins;
@use '@material/theme/theme';
@use '@material/theme/theme-color';

@use '@material/animation/variables' as animation-variables;
@use '../app-bar/variables' as app-bar-variables;
@use '../variables' as global-variables;
@use '../list/variables' as list-variables;
@use './variables';

.drawer {
  z-index: (app-bar-variables.$z-index + 2);  

  @include theme.property(background-color, variables.$surface-fill-color);
  
  position: fixed;
  top: 0;
  left: 0; 
  width: 0;
  border-color: rgba(theme-color.prop-value(variables.$divider-color), variables.$divider-opacity);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;  
  
  transition: width 250ms animation-variables.$standard-curve-timing-function;

  &--open {
    border-right-width: 1px;
    border-right-style: solid;  
    width: 100%;
  }

  &__content {
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }  

  &__header {
    height: app-bar-variables.$row-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__lang-bar {    
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: list-variables.$line-height;
    margin: variables.$lang-bar-margin;
    padding: variables.$lang-bar-padding;
    overflow: hidden;
    cursor: pointer;

    &__flag {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: list-variables.$margin-right;
    }    

    label {
      cursor: pointer;

      input {
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        position: absolute;        
      }

      .drawer__lang-bar__current {
        display: flex;
        align-items: center;
  
        .material-icons {
          margin-left: list-variables.$margin-right;
          transform: rotate(0deg);
          transition: transform 200ms linear;
        }
      }
      
      input:checked ~ .drawer__lang-bar__current .material-icons {
        transform: rotate(-180deg);
      }

      .mdc-list {
        @include theme.property(background-color, variables.$surface-fill-color);

        position: absolute;
        top: app-bar-variables.$row-height + list-variables.$line-height;        
        z-index: app-bar-variables.$z-index + 3;
        max-height: 0;
        opacity: 0;
        transition: max-height 200ms linear, opacity 200ms linear;
        overflow: hidden;
      }
  
      input:checked ~ .mdc-list {
        max-height: 10rem;
        opacity: 1;
        
        @include elevation-mixins.elevation(4);
      }
    }
  }
}

// laptop
@media screen and (min-width: (global-variables.$breakpoint-sm + 1px)) {
  .drawer {
    z-index: variables.$z-index;
    width: variables.$min-width;
    border-right-width: 1px;
    border-right-style: solid;  

    &--hover:not(.drawer--open) {
      @include elevation-mixins.elevation(4);
    }

    &--open, &--hover {
      width: variables.$width;
    }

    &--open ~ .main-content {
      margin-left: variables.$width;
    }
  }

  .main-content {
    margin-left: variables.$min-width;
  
    transition: margin-left 250ms animation-variables.$standard-curve-timing-function;
  }
}
