@use "@material/button/mdc-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/linear-progress/mdc-linear-progress";
@use "@material/fab/mdc-fab";
@use './mixins';

@use './list/styles.scss' as list-styles;
@use './splash/styles.scss' as splash-styles;
@use './loader/styles.scss' as loader-styles;
@use './grid/styles.scss' as grid-styles;
@use './app-bar/styles.scss' as app-bar-styles;
@use './drawer/styles.scss' as drawer-styles;
@use './search/styles.scss' as search-styles;

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[data-layout] {
  display: flex;
  height: 100vh;
}

.main-content {
  scroll-behavior: smooth;

  *::selection {
    @include mixins.fill-color-accessible(primary);
  }

  &--no-smooth {
    scroll-behavior: unset;
  }
}

[data-button="scroll-top"] {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
