@use "@material/button/mdc-button";
@use "@material/icon-button/mdc-icon-button";

$drawer-min-width: 3.5rem;

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
