<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Routes</title>
  <link rel="stylesheet" href="dist/css/main.css?time={{ data.requestTime }}">
  <script src="dist/js/main.js?time={{ data.requestTime }}" type="module"></script>
</head>
<body>
  {{> (lookup data 'content') data=data.contentData }}
</body>
</html>
