<div data-page="home-page">    
  <div>
    <button class="mdc-button mdc-button--raised">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Home page</span>
    </button>
    <a class="mdc-button" href="{{ data.PAGE_ROOT }}signin">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">Sign In page</span>
    </a> 
    <a class="mdc-button" href="{{ data.PAGE_ROOT }}signup">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">Sign Up page</span>
    </a> 
  </div>
  <div>
    Home page, time: {{ data.time }}
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
  </div>
</div>
