<div data-page="home-page"> 
  <button class="mdc-fab mdc-fab--exited" data-button="scroll-top">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon material-icons">keyboard_arrow_up</span>
  </button>     
  <div>
    Home page, time: <%= data.time %> 
  </div>
  <br>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Repudiandae necessitatibus blanditiis quidem aperiam veritatis 
    laudantium commodi exercitationem beatae, adipisci sed sapiente vero excepturi, 
    veniam minima dolor rem alias optio! Inventore!
  </div>
</div>
