<div data-page="home-page">
  Home page, time: {{ data.time }}
  <button class="mdc-button mdc-button--raised">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">Home page</span>
  </button>
  <a class="mdc-button" href="{{ data.PAGE_ROOT }}signin">
   <span class="mdc-button__ripple"></span>
   <span class="mdc-button__label">Sign In page</span>
  </a> 
  <a class="mdc-button" href="{{ data.PAGE_ROOT }}signup">
   <span class="mdc-button__ripple"></span>
   <span class="mdc-button__label">Sign Up page</span>
  </a> 
</div>
