<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialog data received</title>
</head>
<body>
  <script>
    window.dispatchEvent(new CustomEvent(
      '<%= DIALOG_DATA_RECEIVED_EVENT_TYPE %>', {
        detail: {
          data: JSON.parse('<%- data %>')
        }
      }
    ));
  </script>
</body>
</html>